<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../dist/css/all.css">

</head>
<body>
<section class="section-configurador">
    <div class="container-fluid py-5">
        <div class="row py-5">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-12">
                        <h3 class="h3 text-center">Documentación técnica</h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <a class="btn btn-white border-secondary" href="#" target="_blank">Planos</a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-white border-secondary" href="#" target="_blank">Catálogos</a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-white border-secondary" href="#" target="_blank">Casos de uso</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>